---
const { href, name, id, img } = Astro.props;
---

<div class="cursor-pointer grayscale-0 hover:grayscale-[50%] ease-in-out duration-500">
  <a href={href} class="text-center">
    <h2 class="capitalize text-xl font-black" style="color: darkslateblue;">
      {name}
    </h2>
    <p class="font-black" style="color: darkorange;">
      #{id}
    </p>

    <img src={img} alt={name} class="object-contain h-32 w-32" />
  </a>
</div>
